.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.custom-scenario-box {
  width: 425px;
  height: 400px;
  background-color: white;
  border: 3px solid #4f52b0ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative;
  overflow-y: auto;
  overflow-x: auto;
  border-radius: 8px;
  box-shadow: 4px 4px 8px #4f52b0ff;
}

.custom-scenario-box::-webkit-scrollbar {
  width: 8px;
}

.custom-scenario-box::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scenario-box::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.custom-scenario-box::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.all-api-container {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 600px;
  background-color: white;
  border: 3px solid #4f52b0ff;
  padding: 20px;
  height: 400px;
  margin-top: 88px;
  border-radius: 8px;
  box-shadow: 4px 4px 8px #4f52b0ff;
}

.all-api-box {
  width: 400px;
  height: 400px;
  overflow: auto;
}  


.set-scenario-button {
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.api-header {
  text-align: left;
  margin-bottom: 10px;
  font-weight: bold;
}

.scenario1-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4f52b0ff;
  color: #f5f5f5;
  text-decoration-thickness: 2px;
  margin-bottom: 10px;
}

.api-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  flex: 1;
}

.vertical-box-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  max-height: calc(100% - 80px);
  margin-bottom: 20px;
}

.vertical-box {
  width: 100%;
  background-color: rgb(239, 239, 239);
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 5px;
  box-shadow: 1px 1px 2px #4f52b0ff;
  
}

.vertical-box:hover{
  background-color: rgb(209, 209, 209);
}

.vertical-box-container .dropped-api {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 4px;
  background-color: rgb(239, 239, 239);
  border: 1px solid #ddd;
  overflow-x: auto;
  overflow-y: hidden;
}

.box-dropdown {
  align-items: left;
}

.box-title {
  flex-grow: 1;
}

.box-dropdown {
  margin-left: 10px;
}

.input-container{
  margin-left: 10px;
  margin-top: 5px;
}

.scenario2-header {
  gap: 20px;
}

.dropped-api span {
  flex-grow: 1;
  margin-right: 10px;
  word-break: break-word;
}

.remove-api-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 3px 6px;
  cursor: pointer;
  border-radius: 50%;
  margin-left: auto;
  font-size: 12px;
}

.remove-api-button:hover {
  background-color: #ff6666;
}

.scenario1-button:hover {
  background-color: #45a049;
}

.transformer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.transformer-label {
  cursor: pointer;
  padding: 5px 10px;
  background-color: #ddd;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 5px;
}

.transformer-trigger {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.transformer-dialog {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1000;
}

.transformer-dialog.active {
  display: block;
  width: 400px;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
}

.tab {
  padding: 5px 10px;
  cursor: pointer;
  background-color: #ddd;
  border: 1px solid #ccc;
  border-radius: 4px 4px 0 0;
  margin-right: 5px;
}

.tab:hover {
  background-color: #ccc;
}

.tab.active {
  background-color: #bbb;
}

.tab-content {
  padding: 10px;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  background-color: #f9f9f9;
  min-height: 50px;
}

.add-scenario-button {
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  color: #464eb8;
  padding: 0;
  margin: 0;
}

.pop-up-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pop-up-content {
  display: flex;
  flex-direction: column;
}

.api-selection {
  margin-top: 10px;
}

.pop-up-content label {
  display: block;
  margin-bottom: 10px;
}

.pop-up-content input[type="text"] {
  margin-left: 10px;
}

.pop-up-content button {
  margin-top: 10px;
  padding: 5px 10px;
}

.plus-sign-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: #464eb8;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plus-sign-button:hover {
  background-color: #7B83EB;
}

.add-dialog {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1000;
}

.add-dialog.active {
  display: block;
  width: 400px;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
}

.addScenario-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.addScenario-content input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.addScenario-content .api-selection {
  margin-top: 10px;
}

.addScenario-content button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  background-color: #464eb8;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.addScenario-content button:hover {
  background-color: #3b3f92;
}

.saved-scenarios-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.saved-scenarios-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
}

.saved-scenarios-content h2 {
  margin-top: 0;
}

.saved-scenarios-content ul {
  list-style-type: none;
  padding: 0;
}

.saved-scenarios-content li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.saved-scenarios-content button {
  background-color: #464eb8;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.saved-scenarios-content button:hover {
  background-color: #3b3f92;
}

.saved-scenarios-content .delete-button {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.saved-scenarios-content .delete-button:hover {
  background-color: #ff6666;
}

.saved-scenarios-content .close-button {
  background-color: gray;
  color: white;
  border: none;
}

.saved-scenarios-content .close-button:hover {
  background-color: lightgray;
}

.button-group-vertical {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.default-input2 {
  border-radius: 5px;
  width: 95px;
  height: 30px;
  padding: 0;
  font-size: 13px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 8px;
  box-sizing: border-box; 
  line-height: 40px;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clear-all-button {
  background-color: #fae5e3ff;
  color: #c22a25ff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  width: 125px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration-thickness: 3px;
}

.clear-all-button:hover {
  background-color: rgb(250, 239, 238);
}

.scenario-list-button {
  background-color: rgb(240, 234, 255);
  color: #464eb8;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  width: 125px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration-thickness: 3px;
}

.scenario-list-button:hover {
  background-color: rgb(245, 240, 255);
}

.dialog-header .clear-all-button2 {
  background-color: #fae5e3ff;
  color: #c22a25ff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  width: 70px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog-header .clear-all-button2:hover {
  background-color: rgb(250, 239, 238);
}

.search-bar {
  width: calc(100% - 40px);
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 50px;
  margin-bottom: 10px;
}

.btn-icon {
  position: absolute;
  top: 22px;
  right: 20px;
  width: 34px;
  height: 34px;
  padding: 0;
  background-color: rgb(189, 191, 240);
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-icon:hover {
  background-color: rgb(221, 221, 240);
}

.btn-icon i {
  font-size: 20px;
}