.scenario-container {
  display: flex;
  gap: 20px;
  margin-bottom: 2px;
}

.horizontal-box {
  width: 1300px;
  height: 600px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: lightgray;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.log-console {
  margin-top: 20px;
  padding: 20px;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
}

.log-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}

.action-buttons {
  display: flex;
  gap: 10px;
}

.clear-logs-button,
.download-logs-button,
.share-logs-button {
  padding: 8px 16px;
  color: white;
  border: none;
  cursor: pointer;
}

.clear-logs-button {
  background-color: #f44336;
}

.clear-logs-button:hover {
  background-color: #ff6666;
}

.download-logs-button {
  background-color: #464eb8;
}

.download-logs-button:hover {
  background-color: #787dc0;
}

.share-logs-button {
  background-color: #464eb8;
}

.share-logs-button:hover {
  background-color: #787dc0;
}

.share-logs-dropdown {
  position: relative;
}

.share-options {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1;
}

.share-option {
  display: block;
  padding: 8px 16px;
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
}

.share-option:hover {
  background-color: #f0f0f0;
}

.log-statement {
  padding: 5px;
  border-bottom: 1px solid #ccc;
  overflow: auto;
  margin-bottom: 8px;
}

.search-input-container {
  flex-grow: 1;
}

.search-input {
  padding: 8px;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.log-line-number {
  color: #888;
  margin-right: 15px;
  font-weight: bold;
}
