.publish.page > img {
  margin: 0 auto;
  display: block;
  width: 100%;
}

.gray-box {
  width: 800px;
  height: 600px;
  background-color: lightgray; 
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10px;  
}

.gray-box-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}