.center {
  text-align: center;
}

.ui_action .ui-flex {
  width: 100%;
}

.ui-icon {
  padding-right: 0.2rem;
}

.ui-icon svg {
  width: 18px;
}

.app-getcontext .align-top {
  vertical-align: top;
}

.app-getcontext {
  width: 69%;
}

.app-openlink {
  width: 50%;
}

.ui_action,
.ui-table__cell__content {
  display: flex;
  align-items: center;
  width: 100%;
}

.ui-pagessegment {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.1rem;
}

.ui-pagestext {
  margin: 0.5rem 0 1.5rem 0;
}

.ui-table__row:nth-child(2) {
  height: auto;
  min-height: 46.4px;
}

.tableFixHead {
  margin-top: 4px;
}

.tableFixHead .ui-table__header {
  position: sticky;
  /* make the table heads sticky */
  top: 0px;
  /* table head will be placed from the top of the table and sticks to it */
  z-index: 1;
}

.ui-table {
  border-collapse: collapse;
  /* make the table borders collapse to each other */
  width: 100%;
}

.ui_action .ui-table__cell__content .ui_app {
  height: 100px;
  width: 400px;
}

.ui_location {
  width: 300px;
}

.ui_content_mobile {
  display: block;
  align-self: center;
}

.ui-header_mobile {
  min-width: 90px;
}

.ui-button {
  align-self: flex-start;
}

.ui_flex_button_mobile {
  flex-flow: column;
}

.ui_input {
  width: 70%;
  margin-right: 5px;
}

.ui_input div {
  width: 100%;
}

.ui_input input {
  width: 100%;
}

.ui_openlink .ui-table__cell__content {
  width: 100%;
}

.tag-container1 {
  margin: 0.5rem;
  margin-right: 20px;
  border-radius: 8px;
  padding: 0.9rem;
}

.ui-icon__filled {
  display: none;
}

.timerCount {
  padding: 10rem;
  text-align: center;
}

.short-top-text {
  font-size: x-small;
  font-weight: bold;
  vertical-align: top;
  padding-left: 1px;
}

.short-bottom-text {
  font-size: xx-small;
  font-weight: bold;
  vertical-align: bottom;
}

.appopenlink {
  align-self: center;
}

.btn_stageview {}

@media screen and (min-width: 700px) {
  .ui-table__cell:not(:last-child) {
    max-width: 12%;
  }

  .ui-table__cell:first-child {
    max-width: 15%;
  }
}

@media screen and (max-width: 700px) {
  .ui-table__cell:not(:last-child) {
    max-width: 15%;
  }

  .ui-table__cell:first-child {
    max-width: 20%;
  }
}

@media screen and (min-width: 1000px) {
  .ui-table__cell:not(:last-child) {
    max-width: 9%;
  }

  .ui-table__cell:first-child {
    max-width: 14%;
  }
}