# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules/
npm-debug
npm-error

# build output
build/
coverage/
dist/
dts/

# Visual Studio cache/options directory
.DS_Store
.vs/

# Test App gitignore areas
yarn-error.log
*.log

# bundle analysis folders
/common/*
/tools/bundle-size-tools/bundle-analysis-app/bundleAnalysis

# UT results
/packages/*/test-results
/test-results
/tools/*/test-results

# locally generated docs
/packages/teams-js/docs

#lerna logs
lerna-debug.log

# Blazor Test App
*.binlog
*.user
.dotnet/
.vs/
.vscode/
artifacts/
bin/
obj/
