# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules/
npm-debug
npm-error

# build output
build/
dist/
dts/
coverage/

# Visual Studio cache/options directory
.vs/
.DS_Store