# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules/
npm-debug
npm-error

# build output
build/
coverage/
dist/
dts/

# Visual Studio cache/options directory
.DS_Store
.vs/

# Test App gitignore areas
yarn-error.log
*.log

# bundle analysis folders
/common/*
/tools/bundle-size-tools/bundle-analysis-app/bundleAnalysis

# UT results
/packages/*/test-results
/test-results
/tools/*/test-results

# locally generated docs
/packages/teams-js/docs

#lerna logs
lerna-debug.log

# Blazor Test App
microsoft-teams-library-js.sln
*.binlog
*.user
.dotnet/
.vs/
.vscode/
artifacts/
bin/
obj/

#VS Code Local Files
*.sln

# TypeScript output
out

# Dependency directories
node_modules

# Azure Functions artifacts
bin
obj
appsettings.json


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# TeamsFx files
env/.env.*.user
.env.local
build
appPackage/build
.deployment
.localConfigs

# dependencies
/node_modules

# testing
/coverage

# Dev tool directories
devTools/

# Ignore Jest JUnit test results
apps/teamsjs-diagnostic-app/test-results/unit/unit-tests-report.xml

#Ignore package locks
apps/teamsjs-diagnostic-app/package-lock.json
apps/teamsjs-diagnostic-app/api/package-lock.json