auto-install-peers=true
# Failing on missing/conflicting peer dependencies is a good thing, don't turn this off even though pnpm suggests it as an option whenever displaying a peer dependency error
strict-peer-dependencies=true
