variables:
  - group: InfoSec-SecurityResults

trigger:
  branches:
    include:
      - '2.0-preview'
      - 'release/2.0.0-beta.*'

jobs:
  - job: Security
    displayName: 'Security Tasks'
    pool:
      vmImage: 'windows-latest'
    steps:
      - template: tools/yaml-templates/security.yml

  - job: Build
    displayName: 'Build Test Publish'
    pool:
      vmImage: 'windows-latest'
    steps:
      - template: tools/yaml-templates/build-test-publish.yml

  - job: E2ETest1
    displayName: 'E2E Test - Perf'
    pool:
      vmImage: 'ubuntu-latest'
    steps:
      - template: tools/yaml-templates/build-app-host.yml
        parameters:
          appHostGitPath: git://$(AppHostingSdkGitPath)@$(AppHostingSdkGitRef)

      - bash: 'node tools/cli/runAppsWithE2ETests.js --appUrl=https://localhost:4002 --reportFileName=e2e-tests-report-perf --envType=perf'
        displayName: 'Run E2E Perf tests'
        condition: succeeded()
        workingDirectory: '$(AppHostingSdkProjectDirectory)'

      - task: PublishTestResults@2
        inputs:
          testResultsFormat: 'JUnit'
          testResultsFiles: '**/e2e-tests-report*.xml'
        condition: succeededOrFailed()

  - job: E2ETest2
    displayName: 'E2E Test - Default'
    pool:
      vmImage: 'ubuntu-latest'
    steps:
      - template: tools/yaml-templates/build-app-host.yml
        parameters:
          appHostGitPath: git://$(AppHostingSdkGitPath2)@$(AppHostingSdkGitRef)

      - bash: 'node tools/cli/runAppsWithE2ETests.js'
        displayName: 'Run E2E integration tests'
        condition: succeeded()
        workingDirectory: '$(AppHostingSdkProjectDirectory)'

      - task: PublishTestResults@2
        inputs:
          testResultsFormat: 'JUnit'
          testResultsFiles: '**/e2e-tests-report*.xml'
        condition: succeededOrFailed()

  - job: E2ETest3
    displayName: 'E2E Test - Local Tag'
    pool:
      vmImage: 'ubuntu-latest'
    steps:
      - template: tools/yaml-templates/build-app-host.yml
        parameters:
          appHostGitPath: git://$(AppHostingSdkGitPath3)@$(AppHostingSdkGitRef)

      - bash: 'node tools/cli/runAppsWithE2ETests.js --reportFileName=e2e-tests-report-local-script-tag --envType=--envType=localScriptTag'
        displayName: 'Run E2E integration tests with local script tag'
        condition: succeeded()
        workingDirectory: '$(AppHostingSdkProjectDirectory)'

      - task: PublishTestResults@2
        inputs:
          testResultsFormat: 'JUnit'
          testResultsFiles: '**/e2e-tests-report*.xml'
        condition: succeededOrFailed()

  - job: E2ETest4
    displayName: 'E2E Test - BC Latest'
    pool:
      vmImage: 'ubuntu-latest'
    steps:
      - template: tools/yaml-templates/build-app-host.yml
        parameters:
          appHostGitPath: git://$(AppHostingSdkGitPath4)@$(AppHostingSdkGitRef)

      - bash: 'node tools/cli/runAppsWithE2ETests.js --targetClientSdkCheckpoint=latestBackCompat --reportFileName=e2e-tests-report-bcompat'
        displayName: 'Run E2E back compat tests against latest version'
        condition: succeeded()
        workingDirectory: '$(AppHostingSdkProjectDirectory)'
        enabled: true

      - task: PublishTestResults@2
        inputs:
          testResultsFormat: 'JUnit'
          testResultsFiles: '**/e2e-tests-report*.xml'
        condition: succeededOrFailed()

  - job: E2ETest5
    displayName: 'E2E Test - TeamsJS V1'
    pool:
      vmImage: 'ubuntu-latest'
    steps:
      - template: tools/yaml-templates/build-app-host.yml
        parameters:
          appHostGitPath: git://$(AppHostingSdkGitPath5)@$(AppHostingSdkGitRef)

      - bash: 'node tools/cli/runAppsWithE2ETests.js --envType=--envType=teamsV1 --targetClientSdkCheckpoint=1.11.0 --reportFileName=e2e-tests-report-V1'
        displayName: 'Run E2E integration tests on Teams Test App V1'
        condition: succeeded()
        workingDirectory: '$(AppHostingSdkProjectDirectory)'

      - task: PublishTestResults@2
        inputs:
          testResultsFormat: 'JUnit'
          testResultsFiles: '**/e2e-tests-report*.xml'
        condition: succeededOrFailed()

  - job: E2ETestAndroid
    displayName: 'E2E Test - Android'
    pool:
      vmImage: 'ubuntu-latest'
    steps:
      - template: tools/yaml-templates/android-test.yml
        parameters:
          androidAppHostingSdkGitPath: git://$(AndroidAppHostingSdkGitPath)
