.labelIconWrapper {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.supportButton {
  width: 25px;
  height: 25px;
  border-radius: 100px;
}

.stateWrapper {
  display: flex;
}

.supported {
  background: green;
}

.unsupported {
  background-color: red;
}
