.wrapper {
  display: flex;
  flex-direction: column;
}

.supportButton {
  width: 25px;
  height: 25px;
  border-radius: 100px;
}

.supported {
  background: green;
}

.unsupported {
  background-color: red;
}
