# TypeScript output
dist
out

# Dependency directories
node_modules

# Azure Functions artifacts
bin
obj
appsettings.json

# Misc
.DS_Store

# Local data
.localConfigs

# TeamsFx files
env/.env.*.user
env/.env.local

# Build directories
build
appPackage/build

# Deployment
.deployment

# Testing
/coverage

# Dev tool directories
/devTools/
